<nav class="navbar navbar-expand-sm navbar-light nav-admin">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img class="logo" src="/assets/images/logo_min2.png" alt="logo haras"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<button class="btn-nav-admin">
					<a class="nav-link" href="/Admin/cours">Cours</a>
				</button>
				<button class="btn-nav-admin">
					<a class="nav-link" href="">Stages</a>
				</button>
				<button class="btn-nav-admin">
					<a class="nav-link" href="">Clients</a>
				</button>
				<button class="btn-nav-admin">
					<a class="nav-link" href="">Others</a>
				</button>
			</div>
		</div>
	</div>
</nav>
