<nav class="navbar navbar-expand-sm navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img class="logo" src="/assets/images/logo_min.png" alt="logo Haras"></a>
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="btn-nav-admin" href="/Admin/cours">Cours</a>
				<a class="btn-nav-admin" href="">Stage</a>
				<a class="btn-nav-admin" href="">Client</a>
				<a class="btn-nav-admin" href="">Autre</a>
			</div>
		</div>
	</div>
</nav>
