{% extends "/Includes/Banner/layoutBanner.html.twig" %}

{% block picture %}
	<img class="img-banner" src="/assets/images/collector.webp" alt="mascotte">
{% endblock %}
{% block pageTitle %}
    <h1 class="text-light">Acceuil</h1>
{% endblock %}
