{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block content %}
	<main>
		{% include "Admin/Includes/_formularyCourse.html.twig" %}
	</main>
{% endblock %}
