{% extends 'Admin/layout_admin.html.twig' %}
{% block navbar %}
    <header>
        {% include 'Admin/Includes/_navbar.html.twig' %}
    </header>
{% endblock %}
{% block content %} 
    <main>
        <h1> Administration: Formulaires d'inscription aux cours </h1>
        {% include 'Admin/Includes/_show_courses_inscription.html.twig' %}
    </main>
{% endblock %}
