{% extends 'Admin/layout_admin.html.twig' %}
{% block navbar %}
    <header>
        {% include 'Admin/Includes/_navbar.html.twig' %}
    </header>
{% endblock %}
{% block content %}
    <main>
        <h1>Administration: Cours</h1>
        {% include 'Admin/Includes/_formulary_course.html.twig' %}
        {% include 'Admin/Includes/_show_courses.html.twig' %}
    </main>
{% endblock %}
