{% extends 'Admin/layout_admin.html.twig' %}
{% block navbar %}
    <header>
        {% include 'Admin/Includes/_navbar.html.twig' %}
    </header>
{% endblock %}
{% block content %}
    <main></main>
{% endblock %}
