<nav class="navbar navbar-expand-sm navbar-dark nav">
	<div class="container-fluid">
		<a class="navbar-brand" href="/"><img class="logo" src="/assets/images/logo_min.png" alt="logo Haras">Haras du val de loire</a>
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="button-navbar" href="/Admin/course">Cours</a>
				<a class="button-navbar" href="">Stages</a>
				<a class="button-navbar" href="">Clients</a>
			</div>
		</div>
	</div>
</nav>
