{% extends "/Includes/_navbar.html.twig" %}

{% block buttons %}
	<a class="btn-nav-admin" href="/Admin/course">Cours</a>
	<a class="btn-nav-admin" href="">Stage</a>
	<a class="btn-nav-admin" href="">Client</a>
{% endblock %}
