<div class="carousel">
    <div id="carouselExampleIndicators" class="carousel-slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in images %}
                <button type="button" data-bs-target="#carouselExampleIndicators" {% if loop.index == 1 %} class="active" aria-current="true" {% endif %} data-bs-slide-to="{{ loop.index - 1 }}" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                    <img src="/assets/images/{{ image }}" class="d-block w-100">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
