{% block contact_grey_block %}
    <form class="contact-grey-title" methode="POST" novalidate>
        <div class="grey-block col-xl-3 offset-xl-8 col-sm-10 offset-sm-1">
            <div class="contact-grey-section">
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom">
                </div>
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom">
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone">
                </div>
                <div class="mb-3">
                    <label for="email"class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" name="textarea" rows="3"></textarea>
                </div>
                <button class="button">Envoyer</button>
            </div>
        </div>
    </form>
{% endblock %}
