{% block haras_grey %}
    <div class="haras-grey-section col-xl-8 m-0 col-sm-12">
        <div class="tab-title-text">
            <h2 class="haras-grey-title">
                INFRASTRUCTURE
            </h2>
            <ul class="haras-grey-text col-sm-8 offset-sm-2">
                <li>Un terrain de cross niveau amateur</li>
                <li>Une écurie de club de 10 boxes, un abri</li>
                <li>Une écurie propriétaire de 10 boxes grand confort</li>
                <li>Une sellerie chevaux et une poneys</li>            
            </ul>
        </div>
    </div>
{% endblock %}