{% block stage_grey_block %}
    <div class="grey-block col-xl-8 m-0 col-sm-12">
        <div class="grey-block-content">
            <h2 class="grey-block-title">
                CONDITIONS
            </h2>
            <p class="grey-block-text">
                A partir de 1 an pour le Baby-Poney, jusqu'à un haut niveau d'équitation. Équipement obligatoire prêté par le Haras pour les plus petits. Pantalon long, bottes et casque/bombe obligatoire pour les plus grands.             </p>
        </div>
        <div class="grey-block-content">
            <h2 class="grey-block-title">
                INSCRIPTION
            </h2>
            <p class="grey-block-text">
                Vous souhaitez découvrir le poney, apprendre le dressage de poney tout en s'amusant, ou vous initier au trot et au galop pour les plus jeunes?
                Vous souhaitez apprendre la cavalerie, panser, seller, monter à cheval ou encore faire de la compétition ?
                Le Haras du Val de Loire est l'endroit idéal !
                Pour les nouveaux comme pour les plus chevronés n'hésitez pas à vous inscrire ! 
            </p>
        </div>
        <div class="grey-block-content">
            <h2 class="grey-block-title">
                DÉTAILS
            </h2>
            <p class="grey-block-text">
                20 poneys aux écuries, distribution des rations de céréales.
                Hippologie et théorie en salle ou aux écuries.
                Préparation des poneys, pansage, brossage, sellage....
                Monte (ludique pour les plus petits).
                Rangement des écuries, des selles, des filets.
                Pique-nique & temps calme.
                Rebelote l'après-midi :)
                En fin de journée, chacun sort son poney au pré.
                Goûter et temps calme, jeux, lecture...
            </p>
        </div>
        <div class="button-stages">
            <a class="button-inscription" type="button" href="/StageForm/inscription">
                JE M'INSCRIS !
            </a>
        </div>
    </div>
{% endblock %}
