{# User/Includes/_welcome_background_slideshow.html.twig #}

<div class="slider">
        <div class="load">
        </div>
        <div class="content">
            <div class="principal">
            </div>
        </div>
</div>
