{# User/Includes/_welcome_background_slideshow.html.twig #}

<div class="slider">
        <div class="load">
        </div>
        <div class="content">
            <div class="principal">
            <h1>lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                {% include 'User/Includes/_welcome_card.html.twig' %}
            </div>
        </div>
</div>
