{# User/Includes/_welcome_card.html.twig #}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Lorem ipsum</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rutrum lectus sed velit fermentum sollicitudin. Nulla molestie metus eget.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Lorem ipsum dolor.</li>
    <li class="list-group-item">Lorem ipsum dolor sit.</li>
    <li class="list-group-item">Lorem ipsum dolor.</li>
  </ul>
</div>