:root {
    --alerte-radius: 5px;
    --alerte-padding: 10px;
    --success-bg-color: #c2faa8;
    --success-font-color: var(--primary-color);
    --errors-bg-color: rgb(240, 153, 153);
    --errors-font-color: red;
}

.form-course-admin {
    --formulary-center: 5% 20%;
    padding: var(--formulary-center);
}

.form-course-admin .errors {
    list-style: none;
    background-color: var(--errors-bg-color);
    color: var(--errors-font-color);
    border-radius: var(--alerte-radius);
    padding: var(--alerte-padding);
}

.form-course-admin .success {
    list-style: none;
    background-color: var(--success-bg-color);
    color: var(--success-font-color);
    border-radius: var(--alerte-radius);
    padding: var(--alerte-padding);
}

.form-course-admin form {
    display: flex;
    flex-direction: column;
}

.form-course-admin .form-group {
    --spacing-fields: 20px;
    margin-bottom: var(--spacing-fields);
}

.form-course-admin .btn-formulary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-course-admin .btn-formulary:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
}