.navbar {
    position: relative;
}

.navbar::before {
    position: absolute;
    top: 0;
    content: ' ';
    width: var(--full-relative);
    height: 6px;
    background-color: var(--primary-color);
}