element {
    --width_pics: 300px;
    --carouselNav_WidthHeight: 4rem;
    --carouselSizeButton: 1.5rem;
}

pourcentages {
    --fiftyPourcent: 50%;
    --hundredPourcent: 100%;
}

.carousel__body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.carousel {
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__slide1,
.carousel__slide2,
.carousel__slide3,
.carousel__slide4 {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    flex: 0 0 var(--hundredPourcent);
    counter-increment: item;
}

.carousel__slide1 {
    background-size: cover;
    width: var(--width_pics);
    background-image: url(../images/accueil.jpg);
}

.carousel__slide2 {
    background-size: cover;
    width: var(--width_pics);
    background-image: url(../images/accueil.jpg);
}

.carousel__slide3 {
    background-size: cover;
    width: var(--width_pics);
    background-image: url(../images/haras.jpg);
}

.carousel__slide4 {
    background-size: cover;
    width: var(--width_pics);
    background-image: url(../images/favicon.png);
}

.carousel__viewport {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: var(--fiftyPourcent);
    left: var( --fiftyPourcent);
    transform: translate3d(-50%, -40%, 70px);
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--hundredPourcent);
    height: var(--hundredPourcent);
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: var(--carouselSizeButton);
    height: var(--carouselSizeButton);
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: var( --fiftyPourcent);
    font-size: 0;
    transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: var(--carouselNav_WidthHeight);
    height: var(--carouselNav_WidthHeight);
    transform: translateY(-50%);
    border-radius: var(--fiftyPourcent);
    font-size: 0;
    outline: 0;
}

.carousel::before,
.carousel__prev {
    left: -1rem;
}

.carousel::after,
.carousel__next {
    right: -1rem;
}

.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: var(--carouselSizeButton) var(--carouselSizeButton);
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: var(--carouselNav_WidthHeight);
    text-align: center;
    pointer-events: none;
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}