@import 'contact_googlemap.css';
@import 'contact_white_block.css';
@import 'contact_grey_block.css';

.content-page {
    --margin-top: -50px;
    z-index: 1;
    margin-top: var(--margin-top);
}

@media (min-width: 1000px) {
    .content-page {
        --width: 95%;
        --padding-bottom: 40px;
        --min-height: 100%;
        display: flex;
        justify-content: center;
        width: var(--width);
        padding-bottom: var(--padding-bottom);
        min-height: var(--min-height);
    }

    .left-page {
        --width: 100vw;
        --min-height: 60vh;
        display: flex;
        justify-content: flex-end;
        width: var(--width);
        min-height: var(--min-height);
    }

    .right-page {
        --width: 60vw;
        display: flex;
        min-height: var(--min-height);
        width: var(--width);
    }
}

@media screen and (max-width: 768px){
    .content-page {
        --margin-top: 0;
    }
}
