.contact-grey-section {
    --padding-section: 2em;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-section);
    background-color: var(--grey);
    flex-direction: column;
    font-family: var(--text-font);
}

.contact-grey-title {
    --margin-top: 0.8em;
    --font-size: 1.2em;
    margin-top: var(--margin-top);
    font-size: var(--font-size);
    text-align: center;
    font-weight: bold;
}

.button {
    --padding-section: 2em;
    --padding-button: 15px 32px;
    --font-size-button: 16px;
    --border-radius-button: 8px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: var(--padding-button);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--font-size-button);
    border-radius: var(--border-radius-button);
}

.button:hover {
    color: var(--secondary-color);
}

.validated {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}