.contact-white-block-section {
    --padding: 2em;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding); 
    background-color: var(--light);
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--text-font);
}

.white-block-title {
    --margin-top: 3em;
    --font-size: 1.2em;
    margin-top: var(--margin-top);
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
}

.white-block-text {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}