@import 'course_tab.css';
@import 'course_white_block.css';
.calendar-courses .card {
    --font-size: 0.6em;
    --width-card: 100%;
    font-size: var(--font-size);
    width: var(--width-card);
}

.calendar-courses .card-header {
    background-color: var(--primary-color);
}

.calendar-courses .list-group-item {
    --height-box: 60px;
    height: var(--height-box);
    transition: transform .5s ease-in-out;
}

.calendar-courses .list-group-item:hover {
    transform: scale(1.2, 1.2);
    font-size: 1.2em;
}

@media (min-width: 1000px) {
    .content-page {
        --width: 95%;
        --padding-bottom: 40px;
        --min-height: 100%;
        display: flex;
        justify-content: center;
        width: var(--width);
        padding-bottom: var(--padding-bottom);
        min-height: var(--min-height);
    }
    .left-page {
        --width: 100vw;
        --min-height: 120vh;
        display: flex;
        justify-content: flex-end;
        width: var(--width);
        min-height: var(--min-height);
    }
    .right-page {
        --width: 60vw;
        display: flex;
        min-height: var(--min-height);
        width: var(--width);
    }
}

@media screen and (max-width: 575px) {
    .calendar-courses .list-group-item {
        border: none;
    }
}