@import 'haras_googlemap.css';
@import 'haras_grey_block.css';
@import 'haras_white_block.css';

.content-page {
    z-index: 1;
    margin-top: -50px;
}

@media (min-width: 1000px) {
    .content-page {
        --width: 95%;
        --padding-bottom: 40px;
        --min-height: 100%;
        display: flex;
        justify-content: center;
        width: var(--width);
        padding-bottom: var(--padding-bottom);
        min-height: var(--min-height);
    }
    .left-page {
        --width: 100vw;
        --min-height: 120vh;
        display: flex;
        justify-content: flex-end;
        width: var(--width);
        min-height: var(--min-height);
    }
    .right-page {
        --width: 60vw;
        display: flex;
        min-height: var(--min-height);
        width: var(--width);
    }
}
