:root{
    --full-relative: 100%;
}

.navAdmin .navbar {
    position: relative;
}

.navAdmin::before {
    position: absolute;
    top: 0;
    content: ' ';
    width: var(--full-relative);
    height: 6px;
    background-color: var(--primary-color);
}

.navAdmin .navbar-nav {
    width: var(--full-relative);
    justify-content: space-around;
}

.navAdmin .btn-nav-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border-radius: 100px;
    width: 90px;
    height: 35px;
    background-color: var(--primary-color);
    font-family: var(--title-font);
    text-decoration: none;
    color: var(--light);
}

.navAdmin .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navAdmin .btn-nav-admin:hover {
    color: var(--secondary-color);
}

.navAdmin .navbar-toggler {
    background-color: var(--primary-color);
}

@media screen and (max-width: 575px) {
    .navAdmin .btn-nav-admin {
        width: 100%;
        margin-bottom: 2px;
    }

    .navAdmin .navbar-brand{
        width: 70%;
    }
}
