.stage-white-block-section {
    --padding: 2em;
    --min-height: 120vh;
    display: flex;
    justify-content: flex-start;
    padding: var(--padding); 
    background-color: var(--light);
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--text-font);
    min-height: var(--min-height);
}

.white-block-title {
    --margin-top: 0.8em;
    --font-size: 1.2em;
    margin-top: var(--margin-top);
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
}

.white-block-text {
    --padding-top: 20px;
    --margin: 10px;
    padding-top: var(--padding-top);
    margin: var(--margin)
}
