@import 'stage_grey_block.css';
@import 'stage_white_block.css';

@media (min-width: 1000px) {
    .content-page {
        --width: 95%;
        --padding-bottom: 40px;
        --min-height: 100%;
        display: flex;
        justify-content: center;
        width: var(--width);
        padding-bottom: var(--padding-bottom);
        min-height: var(--min-height);
    }

    .left-page {
        --width: 100vw;
        --min-height: 120vh;
        display: flex;
        justify-content: flex-end;
        width: var(--width);
        min-height: var(--min-height);
    }

    .right-page {
        --width: 60vw;
        display: flex;
        min-height: var(--min-height);
        width: var(--width);
    }

    .tab-title {
        --margin-top: 0.8em;
        --font-size: 1.2em;
        margin-top: var(--margin-top);
        font-size: var(--font-size);
        font-weight: bold;
        text-align: center;
    }
}