body {
    overflow-y: hidden;
}

.load {
    animation: slide 2s;
}

.slider {
    --init: 0;
    --max: 100%;
    --height: 100vh;
    --font-size-welcome: 60px;
    margin: var(--init);
    padding: var(--init);
    width: var(--max);
    height: var(--height);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 30s infinite;
}

.content {
    color: var(--light);
    width: var(--max);
    height: var(--height);
    background-color: rgba(0, 0, 0, 0.5);
}

.principal {
    --letter-spacing: 5px;
    --left: 50%;
    --top: 40%;
    --shadow: 1px 1px 2px;
    font-family: var(--title-font);
    letter-spacing: var(--letter-spacing);
    left: var(--left);
    top: var(--top);
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-weight: bold ;
    text-shadow: var(--shadow) var(--dark);
}

.principal h1 {
    --margin-bottom: 40px;
    font-size: var(--font-size-welcome);
    margin-bottom: var(--margin-bottom);
}

@keyframes slide {
    0% {
        background-image: url('/assets/images/image1.webp');
    }
    20% {
        background-image: url('/assets/images/image1.webp');
    }
    20.01% {
        background-image: url('/assets/images/image2.jpg');
    }
    40% {
        background-image: url('/assets/images/image2.jpg');
    }
    40.01% {
        background-image: url('/assets/images/image3.jpg');
    }
    60% {
        background-image: url('/assets/images/image3.jpg');
    }
    60.01% {
        background-image: url('/assets/images/image4.jpg');
    }
    80% {
        background-image: url('/assets/images/image4.jpg');
    }
    80.01% {
        background-image: url('/assets/images/image5.jpg');
    }
    100% {
        background-image: url('/assets/images/image5.jpg');
    }
}

/* Position of card */

.card {
    --background-color: #11ffee00;
    --font-size: 1em;
    background-color: var(--background-color);
    top: var(--init);
    left: var(--init);
    min-width: var(--max);
    min-height: var(--max);
    font-family: var(--text-font);
    font-weight: bold;
    font-size: var(--font-size)
}

.card-title {
    --font-size: 1.7em;
    font-size: var(--font-size);
    text-align: center;
}

.card-text {
    --margin-top: 20px;
    margin-top: var(--margin-top);
    text-align: center;
}

.list-group-item {
    background-color: var(--background-color);
    color: var(--light);
}

/*Mobile version*/

@media screen and (max-width: 670px) {
    .slider {
        background-size: cover;
    }
}

@media screen and (max-width: 400px) {
    .pincipal, h1, p {
        overflow-wrap: anywhere;
        font-size: calc(var(--font-size-welcome) - 58px);
    }
}

@media screen and (max-width: 900px) {
    .card-text {
        --font-size: 12px;
        text-align: center;
        font-size: var(--font-size);
    }
    
    .card-title {
        --font-size: 20px;
        text-align: center;
        font-size: var(--font-size);
    }

    .principal h1{
        --font-size: 35xp;
        font-size: var(--font-size);
    }
}

@media screen and (max-width: 768px ) {
    .principal h1{
        font-size: 40px;
        
    }
}