<footer class="footer-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-md-4 item">
                <h2>A propos de nous</h2>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <h2>Services</h2>
                <ul>
                    <li><a href="#">Cours</a></li>
                    <li><a href="#">Stages</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 item text">
                <h2>Haras du Val de Loire</h2>
                <ul>
                    <li>Adresse : 999 rue de Chemeau 45560 Saint Denis en Val</li>
                    <li>N° de contact : <img class="phone number" src="/assets/images/telharas.png"alt="Phone number"></li>
                    <li>Email : <img class="email" src="/assets/images/emailharas.png"alt="Email"></li>
                </ul>
            </div>
            <div class="col item social">
                <a href="https://fr-fr.facebook.com/HarasduValdeLoire" target="_blank"><i class="icon ion-social-facebook"></i></a>
                <a href="https://www.instagram.com/harasduvaldeloire/?hl=fr" target="_blank"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">THP © 2021</p>
    </div>
</footer>
